#root, html {
  background-color: black;
}

#drum-machine {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


.drum-pad {
  background-color: white;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: black;
  border: none;
}

#info {
  margin-top: 2rem;
  color: #c2c2c2;
}